
@import "ui-variables";
@import "syntax-variables";
@import "octicon-utf-codes";

.package-cop-item-view {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  padding: 10px 20px 20px 30px;
  overflow: scroll;
  .package-cop-help {
    font-size: 14px;
  }
  
  table {
    font-size: 14px;
  }
  th {
      padding: 0 3px 5px 5px;
      .th-dot {
        border-top:    1px solid @syntax-text-color;
        border-bottom: 1px solid @syntax-text-color;
      }
      .th-pkgs {
        border-top: 1px solid @syntax-text-color;
        font-weight: bold;
      }
      .th-loaded {
        display:inline-block;
        margin-right: 10px;
        color: lighten(blue, 35%); 
      }
      .th-active {
        display:inline-block;
        margin-right: 10px;
        color: lighten(green, 10%); 
      }
      .th-enabled {
        display:inline-block;
        margin-right: 10px;
      }
      .th-ctrl-click {
        font-weight: normal;
        display: block;
      }
  }
  td {
    padding: 1px 4px 1px 4px;
    border-top:    1px solid @syntax-text-color;
    border-bottom: 1px solid @syntax-text-color;
    span:not(.name):not(.loaded):not(.active) {
      color: @syntax-background-color;
    }
    span:not(.name).loaded:not(.active) {
      color: lighten(blue, 35%); 
    }
    span:not(.name).active {
      color: lighten(green, 10%); 
    }
    span.name {
      margin-left: 5px;
      cursor: pointer;
    }
    span.name:not(.willBeDisabled) {
      font-weight: bold;
    }
  } 
  
  code {
      background: rgba(128, 128, 128, 0.15) !important;
      color: @syntax-text-color  !important;
  }
  
  .octicon {
    font-family: 'Octicons Regular';
    font-size: 1.1em;
    // color: @text-color;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }
  .octicon.browser-btn:hover {
    border: 1px solid @button-border-color;
    background-color: @button-background-color-hover;
  }
  .octicon.octicon-check {&:before{content: @check}}
  .octicon.octicon-star  {&:before{content: @star }}
  .octicon.octicon-dot   {&:before{content: @primitive-dot}}
}


