
@import "ui-variables";
@import "syntax-variables";
@import "octicon-utf-codes";

.package-cop-item-view {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  font-size:14px;
  padding: 10px 20px 20px 30px;
  overflow: scroll;
  
  .package-cop-title {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    width:100%;
  }
  .package-cop-help {
    font-size: 14px;
  }

  .problem-horiz {
    // clear: both;
    position:relative;
    height:143px;
    min-width: 650px;
    margin: 20px 0 20px 0;
    // overflow:auto;
    // white-space: nowrap;
    
    .problems-table {
      position:absolute;
      // margin-bottom: 20px;
      padding:10px; 
      border:1px solid gray;
      border-radius: 3px;
      width: 250px;
      height:143px;
      overflow:auto;
      display: inline-block;
      
      table {
        width: 200px;
        font-size: 14px;
        th {
          padding: 0 0 5px 3px;
        }
        tr.problem-name td {
          padding-left: 3px;
          border-top:    1px solid @syntax-text-color;
          border-bottom: 1px solid @syntax-text-color;
        }
        tr.problem-name:not(.selected) {
          cursor: pointer;
        }
        .selected {
          font-weight: bold;
        }
        input {
          width:         200px;
          margin-top:      5px;
          height:         21px;
          padding-left:    8px;
          padding-right:   2px;
          box-shadow:     none;
          border-radius:   4px;
          border: 1px solid @input-border-color;
          color:            @text-color;
          background-color: @input-background-color;
        }
      }
    }
    .problem-detail {
      position: absolute;
      top: 0;
      left: 250px;
      min-width: 390px;
      height: 143px;
      margin-left: 25px;
      padding: 10px; 
      border: 1px solid gray;
      border-radius: 3px;
      
      .btn {
        margin: 4px;
      }
      .problem-hdr {
        .problem-hdr-hdr {
          border-bottom: 1px dashed gray;
          .problem-name {
            position:relative;
            top:-5px;
            font-weight: bold;
            font-size:16px;
          }
          .problem-rename {
            position:absolute;
            top:1px;
            right: 60px;
          }
          .problem-delete {
            position:absolute;
            top:1px;
            right: 2px;
          }
        }
        .problem-hdr-summary {
        }
      }
      .report-result {
        position: absolute;
        top: 75px;
        width:225px;
        border-top: 1px solid gray;
        display: inline-block;
        padding-right:5px;
        .report-result-hdr {
          margin-top:3px;
          font-weight: bold;
        }
      }
      .edit-problem.rename  {
        top: 54px;
      }
      
      .edit-problem {
        position: absolute;
        left:235px;
        top: 75px;
        width: 144px;
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        padding-left:5px;
        display: inline-block;
        .problem-edit-hdr {
          margin-top:3px;
          font-weight: bold;
        }
        .rename-input:not(.active) {
          display: none;
        }
        .rename-input.active {
          margin-left:5px;
          width: 130px;
          display: block;
        }
      }
    }
  }
  .package-horiz {
    clear: both;
    position: relative;
    min-width: 650px;
    padding: 10px 0 10px 10px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 14px;
    
    .enable-packages {
      position: absolute;
      top:2px;
      right: 0;
      padding-left: 10px;
      // height: 60px;
      .enable-packages-hdr {
        position: relative;
        top: -3px;
        display: inline-block;
        font-weight: bold;
        margin-right: 8px;
      }
    }
    .enable-packages.no-problem:not(.one-problem) {
      width: 220px;
      .btn-sel-auto, .btn-sel-auto-all {
        display:none;
      }
    }
    .enable-packages.one-problem:not(.no-problem) {
      width: 347px;
      .btn-sel-auto-all {
        display:none;
      }
    }
    .enable-packages:not(.no-problem):not(.one-problem) {
      width: 457px;
    }
    .btn {
      margin:2px;
    }
    .packages-table {
      clear:both;
      width: 99%;
      .unloaded {
        color: @syntax-background-color;
      }
      .loaded {
        color: rgba(128,128,128,10);
      }
      .activated {
        color: blue;
      }
      .th-installed {
          padding: 0 3px 5px 5px;
          width: 270px;
          .th-dot {
            border-top:    1px solid @syntax-text-color;
            border-bottom: 1px solid @syntax-text-color;
          }
          .th-pkgs {
            font-weight: bold;
          }
          .th-legend {
            display:inline-block;
            margin-right: 10px;
          }
          .th-enabled {
            display:inline-block;
            margin-right: 10px;
          }
          .th-cleared {
            display:inline-block;
            color:green;
          }
          .th-ctrl-click,.th-click {
            font-weight: normal;
            display: block;
          }
      }
      .th-chkmrk {
        width: 15px;
      }
      .th-Fails{
        vertical-align: bottom;
        padding-left: 4px;
        border-bottom: 1px solid @syntax-text-color;
      }
      .th-Passes {
        vertical-align: bottom;
        padding-left: 4px;
        border-bottom: 1px solid @syntax-text-color;
      }
      .fails-dot,.passes-dot {
        padding-left:5px;
      }
      td {
        padding: 1px 4px 1px 4px;
        border-top:    1px solid @syntax-text-color;
        border-bottom: 1px solid @syntax-text-color;
        border-right: 1px solid @syntax-text-color;
        
        span.name {
          margin-left: 5px;
        }
        span.name:not(.old) {
          cursor: pointer;
        }
        span.name.enabled {
          font-weight: bold;
        }
        span.check {
          color: lighten(green, 10%); 
        }
      } 
    }
  }
  
  code {
      background: rgba(128, 128, 128, 0.15) !important;
      color: @syntax-text-color  !important;
  }
  
  .octicon {
    font-family: 'Octicons Regular';
    font-size: 1.1em;
    // color: @text-color;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }
  .octicon.browser-btn:hover {
    border: 1px solid @button-border-color;
    background-color: @button-background-color-hover;
  }
  .octicon.octicon-check {&:before{content: @check}}
  .octicon.octicon-star  {&:before{content: @star }}
  .octicon.octicon-dot   {&:before{content: @primitive-dot}}
}


