
@import "ui-variables";
@import "syntax-variables";

.package-cop-item-view {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  padding: 0 20px 20px 30px;
  .package-cop-help {
    font-size: 14px;
  }
}

code {
    background: rgba(128, 128, 128, 0.15) !important;
    color: @syntax-text-color  !important;
  
}
